# Completely ignore certain files for language detection.
*.html linguist-documentation=true
#*.html linguist-generated=true

*.man linguist-documentation=true
*.sty linguist-generated=true

*.vhd linguist-vendored=true
*.vhdl linguist-vendored=true

*.log linguist-detectable=false
*.tcl linguist-detectable=false
*.roff linguist-detectable=false
*.tex linguist-detectable=false