# Simulation and compilation
simulation/work/
output_files/
db/
incremental_db/
*.qdb
*.qpg
*.qtl
*.tcr
sdram_controller/impl1/*.log
sdram_controller/impl1/*.txt
sdram_controller/impl1/*.rpt
sdram_controller/impl1/*.html
sdram_controller/impl1/*.cam
sdram_controller/impl1/*.ncd
sdram_controller/impl1/*.sdf
sdram_controller/impl1/*.vo
sdram_controller/impl1/*.bgn
sdram_controller/impl1/*.bit
sdram_controller/impl1/*.edi
sdram_controller/impl1/*.ior
sdram_controller/impl1/*.mrp
sdram_controller/impl1/*.ngd
sdram_controller/impl1/*.ngo
sdram_controller/impl1/*.pad
sdram_controller/impl1/*.par
sdram_controller/impl1/*.prf
sdram_controller/impl1/*.srd
sdram_controller/impl1/*.srf
sdram_controller/impl1/*.srm
sdram_controller/impl1/*.srr
sdram_controller/impl1/*.db
sdram_controller/impl1/*.srs
sdram_controller/impl1/*.tw1
sdram_controller/impl1/*.twr