# Completely ignore certain files for language detection.
*.html linguist-generated=true
*.html linguist-documentation=true

*.log linguist-detectable=false
*.tcl linguist-detectable=false
*.roff linguist-detectable=false
*.tex linguist-detectable=false

*.man linguist-documentation=true
*.sty linguist-generated=true

*.vhd linguist-vendored=true
*.vhdl linguist-vendored=true