# Completely ignore certain files for language detection.
*.log linguist-detectable=false
*.tcl linguist-detectable=false
*.roff linguist-detectable=false
*.tex linguist-detectable=false

*.vhd linguist-vendored=true
*.vhdl linguist-vendored=true